@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-SuperItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-SuperItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-SuperItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-SuperItalic-Cy-Web.woff') format('woff')
  font-weight 900
  font-style italic
  font-stretch normal

.Graphik-SuperItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 900
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Super-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Super-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Super-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Super-Cy-Web.woff') format('woff')
  font-weight 900
  font-style normal
  font-stretch normal

.Graphik-Super-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 900
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-BlackItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-BlackItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-BlackItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-BlackItalic-Cy-Web.woff') format('woff')
  font-weight 800
  font-style italic
  font-stretch normal

.Graphik-BlackItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 800
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Black-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Black-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Black-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Black-Cy-Web.woff') format('woff')
  font-weight 800
  font-style normal
  font-stretch normal

.Graphik-Black-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 800
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-BoldItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-BoldItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-BoldItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-BoldItalic-Cy-Web.woff') format('woff')
  font-weight 700
  font-style italic
  font-stretch normal

.Graphik-BoldItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 700
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Bold-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Bold-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Bold-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Bold-Cy-Web.woff') format('woff')
  font-weight 700
  font-style normal
  font-stretch normal

.Graphik-Bold-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 700
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-SemiboldItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-SemiboldItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-SemiboldItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-SemiboldItalic-Cy-Web.woff') format('woff')
  font-weight 600
  font-style italic
  font-stretch normal

.Graphik-SemiboldItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 600
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Semibold-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Semibold-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Semibold-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Semibold-Cy-Web.woff') format('woff')
  font-weight 600
  font-style normal
  font-stretch normal

.Graphik-Semibold-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 600
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-MediumItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-MediumItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-MediumItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-MediumItalic-Cy-Web.woff') format('woff')
  font-weight 500
  font-style italic
  font-stretch normal

.Graphik-MediumItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 500
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Medium-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Medium-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Medium-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Medium-Cy-Web.woff') format('woff')
  font-weight 500
  font-style normal
  font-stretch normal

.Graphik-Medium-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 500
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-RegularItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-RegularItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-RegularItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-RegularItalic-Cy-Web.woff') format('woff')
  font-weight 400
  font-style italic
  font-stretch normal

.Graphik-RegularItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 400
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Regular-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Regular-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Regular-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Regular-Cy-Web.woff') format('woff')
  font-weight 400
  font-style normal
  font-stretch normal

.Graphik-Regular-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 400
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-LightItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-LightItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-LightItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-LightItalic-Cy-Web.woff') format('woff')
  font-weight 300
  font-style italic
  font-stretch normal

.Graphik-LightItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 300
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Light-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Light-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Light-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Light-Cy-Web.woff') format('woff')
  font-weight 300
  font-style normal
  font-stretch normal

.Graphik-Light-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 300
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-ExtralightItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-ExtralightItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-ExtralightItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-ExtralightItalic-Cy-Web.woff') format('woff')
  font-weight 200
  font-style italic
  font-stretch normal

.Graphik-ExtralightItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 200
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Extralight-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Extralight-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Extralight-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Extralight-Cy-Web.woff') format('woff')
  font-weight 200
  font-style normal
  font-stretch normal

.Graphik-Extralight-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 200
  font-style normal
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-ThinItalic-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-ThinItalic-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-ThinItalic-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-ThinItalic-Cy-Web.woff') format('woff')
  font-weight 100
  font-style italic
  font-stretch normal

.Graphik-ThinItalic-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 100
  font-style italic
  font-stretch normal

@font-face
  font-family 'Graphik LC Web'
  src url('https://www.re-store.ru/promo/graphik/Graphik-Thin-Cy-Web.eot')
  src url('https://www.re-store.ru/promo/graphik/Graphik-Thin-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Thin-Cy-Web.woff2') format('woff2'),
       url('https://www.re-store.ru/promo/graphik/Graphik-Thin-Cy-Web.woff') format('woff')
  font-weight 100
  font-style normal
  font-stretch normal

.Graphik-Thin-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 100
  font-style normal
  font-stretch normal