// @font-face
//   font-family 'Graphik LC Web'
//   src url('./font/Graphik-Super-Cy-Web.eot')
//   src url('./font/Graphik-Super-Cy-Web.eot?#iefix') format('embedded-opentype'),
//        url('./font/Graphik-Super-Cy-Web.woff2') format('woff2'),
//        url('./font/Graphik-Super-Cy-Web.woff') format('woff')
//   font-weight 900
//   font-style normal
//   font-stretch normal

// .Graphik-Super-Cy-Web
//   font-family 'Graphik LC Web'
//   font-weight 900
//   font-style normal
//   font-stretch normal



// @font-face
//   font-family 'Graphik LC Web'
//   src url('./font/Graphik-Black-Cy-Web.eot')
//   src url('./font/Graphik-Black-Cy-Web.eot?#iefix') format('embedded-opentype'),
//        url('./font/Graphik-Black-Cy-Web.woff2') format('woff2'),
//        url('./font/Graphik-Black-Cy-Web.woff') format('woff')
//   font-weight 800
//   font-style normal
//   font-stretch normal

// .Graphik-Black-Cy-Web
//   font-family 'Graphik LC Web'
//   font-weight 800
//   font-style normal
//   font-stretch normal



// @font-face
//   font-family 'Graphik LC Web'
//   src url('./font/Graphik-Bold-Cy-Web.eot')
//   src url('./font/Graphik-Bold-Cy-Web.eot?#iefix') format('embedded-opentype'),
//        url('./font/Graphik-Bold-Cy-Web.woff2') format('woff2'),
//        url('./font/Graphik-Bold-Cy-Web.woff') format('woff')
//   font-weight 700
//   font-style normal
//   font-stretch normal

// .Graphik-Bold-Cy-Web
//   font-family 'Graphik LC Web'
//   font-weight 700
//   font-style normal
//   font-stretch normal




@font-face
  font-family 'Graphik LC Web'
  src url('./font/Graphik-Semibold-Cy-Web.eot')
  src url('./font/Graphik-Semibold-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('./font/Graphik-Semibold-Cy-Web.woff2') format('woff2'),
       url('./font/Graphik-Semibold-Cy-Web.woff') format('woff')
  font-weight 600
  font-style normal
  font-stretch normal

.Graphik-Semibold-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 600
  font-style normal
  font-stretch normal



@font-face
  font-family 'Graphik LC Web'
  src url('./font/Graphik-Medium-Cy-Web.eot')
  src url('./font/Graphik-Medium-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('./font/Graphik-Medium-Cy-Web.woff2') format('woff2'),
       url('./font/Graphik-Medium-Cy-Web.woff') format('woff')
  font-weight 500
  font-style normal
  font-stretch normal

.Graphik-Medium-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 500
  font-style normal
  font-stretch normal



@font-face
  font-family 'Graphik LC Web'
  src url('./font/Graphik-Regular-Cy-Web.eot')
  src url('./font/Graphik-Regular-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('./font/Graphik-Regular-Cy-Web.woff2') format('woff2'),
       url('./font/Graphik-Regular-Cy-Web.woff') format('woff')
  font-weight 400
  font-style normal
  font-stretch normal

.Graphik-Regular-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 400
  font-style normal
  font-stretch normal



@font-face
  font-family 'Graphik LC Web'
  src url('./font/Graphik-Light-Cy-Web.eot')
  src url('./font/Graphik-Light-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('./font/Graphik-Light-Cy-Web.woff2') format('woff2'),
       url('./font/Graphik-Light-Cy-Web.woff') format('woff')
  font-weight 300
  font-style normal
  font-stretch normal

.Graphik-Light-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 300
  font-style normal
  font-stretch normal






@font-face
  font-family 'Graphik LC Web'
  src url('./font/Graphik-Extralight-Cy-Web.eot')
  src url('./font/Graphik-Extralight-Cy-Web.eot?#iefix') format('embedded-opentype'),
       url('./font/Graphik-Extralight-Cy-Web.woff2') format('woff2'),
       url('./font/Graphik-Extralight-Cy-Web.woff') format('woff')
  font-weight 200
  font-style normal
  font-stretch normal

.Graphik-Extralight-Cy-Web
  font-family 'Graphik LC Web'
  font-weight 200
  font-style normal
  font-stretch normal