doctype html
html(lang='ru')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(href='./main.css' rel='stylesheet')
  body
    //--- 1
    .n1.flex
      .wr
        ._h Для тех, кто, весь год
          br
          | хорошо учился.

        p Наши специальные предложения 
          br
          | в честь окончания учебного 
          br
          | года

    //--- 2
    .n2.wr.flex
      img(src="./img/2_1.jpg", alt="")

      .flex
        div
          .h iPhone SE
          p разные цвета
          br
          p 32 ГБ
          br
          p
            s 26 490 ₽
          p 24 000 ₽
          a.btn(href="") Купить
          

        div
          p 128 ГБ
          br
          p
            s 35 490 ₽
          p 33 990 ₽
          a.btn(href="") Купить

    //--- 3
    .n3.wr.flex

      .item
        .h MacBook Pro 15" 
        p с панелью Touch Bar
        br
        
        p Core i7 2,6 ГГц, 16 ГБ, 
          br
          | 256 ГБ SSD, Radeon Pro 450
          br
          | «серый космос»
        
        br
        p
          s 171 990 ₽
        p 165 990 
        a.btn(href="") Купить
      
      img(src="./img/3.jpg", alt="")
    //--- 4
    .n4
      .wr
        center
          img(src="./img/4.png", alt="")
          br
          br
          ._h Забирайте сегодня,
            br
            | оплачивайте завтра.
            br
            br
          p Покупайте технику Apple в рассрочку
            br
            | без первого взноса и без переплат.

        .flex
          .item
            img(src="./img/4_1.png", alt="")
            br
            br
            p Apple Watch
            p от 833 ₽/мес.
          .item
            img(src="./img/4_2.png", alt="")
            br
            br
            p Компьютеры Mac
            p от 3 500 ₽/мес.
          .item
            img(src="./img/4_3.png", alt="")
            br
            br
            p Планшеты IPad
            p от 1 041 ₽/мес.
        center
          a(href="") Подробнее »
    //--- 5
    .n5.wr
      center
        ._h Встречайте новую эру
          br
          | умных средств передвижения.

      .flex.flex_1
        img(src="./img/5.jpg", alt="")
        .iten
          .h Airwheel X8
          p гироцикл черный
          br
          p 29 990 ₽
          a.btn(href="") Купить

      
      .flex.x3
        .item
          img(src="./img/5_1.jpg", alt="")
          .h Airwheel Z8
          p электросамокат,
            br
            | батарея LG 81,4 Вт/ч,
            br
            | черный, оранжевый, белый

          p 18 490 ₽
          a.btn(href="") Купить

        .item
          img(src="./img/5_2.jpg", alt="")
          .h Airwheel Z5
          p электросамокат,
            br
            | батарея LG 162,8 Вт/ч,
            br
            | черный

          p 31 990 ₽
          a.btn(href="") Купить


        .item
          img(src="./img/5_3.jpg", alt="")
          .h Airwheel Z3T
          p электросамокат,
            br
            | батарея LG 162,8 Вт/ч,
            br
            | черный
          p 30 990 ₽
          a.btn(href="") Купить


      .flex.ftr
        div
          .h Cactus
          p электробайк
            br
            | 4400 мАч, черный
            br
          p 
            s 34 990 ₽
          p 32 990 ₽
          a.btn(href="") Купить

        img(src="./img/5_4.jpg", alt="")
        small Электробайк от Cactus — это складное инновационное средство передвижения с мощным мотором и стильным внешним видом. Компактный и удобный вид персонального электротранспорта.
    //--- 6
    .n6
      .wr
        ._h Красиво выглядят.
          br
          | Отлично звучат.

      .wr
        .flex

          img(src="./img/6_1.png", alt="")
          .item
            .h  Bang & Olufsen
              br
              | BeoPlay A2
            p портативная акустика,
              br 
              | черная и серебристо-
              br
              | бежевая
            br

            br
            p
              s 24 990 ₽
            p 22 990 ₽
            a.btn(href="") Купить


        .flex

          .item
            .h  Bang & Olufsen
              br
              | BeoPlay H8
            p наушники беспроводные,
              br 
              | черные, бежевые, коричневые
            br

            br
            p
              s 34 990 ₽
            p 29 990 ₽
            a.btn(href="") Купить

          img(src="./img/6_2.jpg", alt="")

        
        .flex

          img(src="./img/6_3.png", alt="")
          .item
            .h  Bang & Olufsen
              br
              | BeoPlay M5
            p портативная акустика,
              br 
              | черная и серая
            br

            br
            p
              s 49 990 ₽
            p 42 990 ₽
            a.btn(href="") Купить
        
        
        .flex

          .item
            .h  Beats EP
            p наушники накладные,
              br 
              | черные, белые, синие
              br
              | красные

            br
            p
              s 34 990 ₽
            p 29 990 ₽
            a.btn(href="") Купить

          img(src="./img/6_4.png", alt="")

        
        
        
        //- img(src="./img/6_2.jpg", alt="")
        //- img(src="./img/6_3.png", alt="")
        //- img(src="./img/6_4.png", alt="")

        
    //--- 7
    //--- 8
    //--- 9
    //--- 10
    //--- 11
    //--- 12
    //--- 13
    //--- 14
    //--- 15
    //--- 16
    //--- 17
    //--- 18
    //--- 19