doctype html
html(lang='ru')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(href='./main.css' rel='stylesheet')
  body
    //--- 1
    .n1.flex
      .wr
        ._h Для тех, кто, весь год
          br
          | хорошо учился.

        p Наши специальные предложения 
          br
          | в честь окончания учебного 
          br
          | года

    //--- 2
    .n2.wr.flex
      img(src="./img/2_1.jpg", alt="")

      .flex
        div
          .h iPhone SE
          p разные цвета
          br
          p 32 ГБ
          br
          p
            s 26 490 ₽
          p 24 000 ₽
          a.btn(href="") Купить
          

        div
          p 128 ГБ
          br
          p
            s 35 490 ₽
          p 33 990 ₽
          a.btn(href="") Купить

    //--- 3
    .n3.wr.flex

      .item
        .h MacBook Pro 15" 
        p с панелью Touch Bar
        br
        
        p Core i7 2,6 ГГц, 16 ГБ, 
          br
          | 256 ГБ SSD, Radeon Pro 450
          br
          | «серый космос»
        
        br
        p
          s 171 990 ₽
        p 165 990 
        a.btn(href="") Купить
      
      img(src="./img/3.jpg", alt="")
    //--- 4
    .n4
      .wr
        center
          img(src="./img/4.png", alt="")
          br
          br
          ._h Забирайте сегодня,
            br
            | оплачивайте завтра.
            br
            br
          p Покупайте технику Apple в рассрочку
            br
            | без первого взноса и без переплат.

        .flex
          .item
            img(src="./img/4_1.png", alt="")
            br
            br
            p Apple Watch
            p от 833 ₽/мес.
          .item
            img(src="./img/4_2.png", alt="")
            br
            br
            p Компьютеры Mac
            p от 3 500 ₽/мес.
          .item
            img(src="./img/4_3.png", alt="")
            br
            br
            p Планшеты IPad
            p от 1 041 ₽/мес.
        center
          a(href="") Подробнее › 
          //»
    //--- 5
    .n5.wr
      center
        ._h Встречайте новую эру
          br
          | умных средств передвижения.

      .flex.flex_1
        img(src="./img/5.jpg", alt="")
        .iten
          .h Airwheel X8
          p гироцикл черный
          br
          p 29 990 ₽
          a.btn(href="") Купить

      .flex.x3
        .item
          img(src="./img/5_1.jpg", alt="")
          div
            br
            .h Airwheel Z8
            p электросамокат,
              br
              | батарея LG 81,4 Вт/ч,
              br
              | черный, оранжевый
              br
              | белый
              br
              br
   
            p 18 490 ₽
            a.btn(href="") Купить

        .item
          img(src="./img/5_2.jpg", alt="")
          div
            .h Airwheel Z5
            p электросамокат,
              br
              | батарея LG 162,8 Вт/ч,
              br
              | черный
              br
              br
              br
            p 31 990 ₽
            a.btn(href="") Купить

        .item
          img(src="./img/5_3.jpg", alt="")
          div
            .h Airwheel Z3T
            p электросамокат,
              br
              | батарея LG 162,8 Вт/ч,
              br
              | черный
              br
              br
            p 30 990 ₽
            a.btn(href="") Купить


      .flex.ftr
        div
          .h Cactus
          p электробайк
            br
            | 4400 мАч, черный
            br
          p 
            s 34 990 ₽
          p 32 990 ₽
          a.btn(href="") Купить

        img(src="./img/5_4.jpg", alt="")
        small Электробайк от Cactus — это складное инновационное средство передвижения с мощным мотором и стильным внешним видом. Компактный и удобный вид персонального электротранспорта.


    //--- 6
    .n6.wr
      .bg.flex
        ._h Красиво выглядят.
          br
          | Отлично звучат.


      .flex

        img(src="./img/6_1.png", alt="")
        .item
          .h  Bang & Olufsen
            br
            | BeoPlay A2
          p портативная акустика,
            br 
            | черная и серебристо-
            br
            | бежевая
          br

          br
          p
            s 24 990 ₽
          p 22 990 ₽
          a.btn(href="") Купить


      .flex

        .item
          .h  Bang & Olufsen
            br
            | BeoPlay H8
          p наушники беспроводные,
            br 
            | черные, бежевые, коричневые
          br

          br
          p
            s 34 990 ₽
          p 29 990 ₽
          a.btn(href="") Купить

        img(src="./img/6_2.jpg", alt="")

      
      .flex

        img(src="./img/6_3.png", alt="")
        .item
          .h  Bang & Olufsen
            br
            | BeoPlay M5
          p портативная акустика,
            br 
            | черная и серая
          br

          br
          p
            s 49 990 ₽
          p 42 990 ₽
          a.btn(href="") Купить
      
      
      .flex

        .item
          .h  Beats EP
          p наушники накладные,
            br 
            | черные, белые, синие
            br
            | красные

          br
          p
            s 34 990 ₽
          p 29 990 ₽
          a.btn(href="") Купить

        img(src="./img/6_4.png", alt="")
        

      .flex

        img(src="./img/6_5.png", alt="")
        .item
          .h  Beats urBeats
          p наушники вставные,
            br 
            | «серый космос», золотые,
            br
            | серебристые, «розовое
            br
            | золото»
          br
          p
            s 7 990 ₽
          p 6 490 ₽
          a.btn(href="") Купить

      .flex(style="margin-top: 2em")

        .item
          .h  Harman Karbon Onix
          p беспроводная акустика
            br 
            | черная

          br
          p
            s 19 990 ₽
          p 16 990 ₽
          a.btn(href="") Купить

        img(src="./img/6_6.jpg", alt="")



      .flex

        img(src="./img/6_7.jpg", alt="")
        .item
          .h  Marshall Monitor
          p наушники беспроводные
            br 
            | черные
          br
          p
            s 17 990 ₽
          p 15 990 ₽
          a.btn(href="") Купить

      .flex

          .item
            .h  Marshall Stanmore
            p беспроводная акустика
              br 
              | черная, коричневая

            br
            p
              s 24 990 ₽
            p 20 990 ₽
            a.btn(href="") Купить

          img(src="./img/6_8.jpg", alt="") 

      .flex

          img(src="./img/6_9.jpg", alt="")
          .item
            .h  jabra Elite Sport
            p спортивные беспроводные  
              br 
              | наушники черные
            br
            p
              s 19 990 ₽
            p 16 990 ₽
            a.btn(href="") Купить


    //--- 8
    .n7.wr
      .bg.flex
        ._h Пусть это лето
          br
          | будет особенным
        


    
      .flex

        img(style="margin: 0 1em 1em 0;", src="./img/7_1.jpg", alt="")
        .item
          .h  GoPro
            br
            | Hero Session
          p водонепроницпемая
            br 
            | и ударопрочная
            br
            | экшн-камера
          br

          br
          p
            s 17 990 ₽
          p 13 990 ₽
          a.btn(href="") Купить

      .flex
          .item
            .h  Monmax X-Lens
            p Комплект из 4-х сменных
              br 
              | линз для IPhone
              br
              | экшн-камера
            br

            br
            p
              s 5 990 ₽
            p 4 990 ₽
            a.btn(href="") Купить
          img(src="./img/7_2.jpg", alt="")
    
      .flex.x3
        .item
          img(src="./img/8_1.png", alt="")
          .h Sphero Ollie
            br
            | Darkside V2
          p робот-игрушка
          p
            s 9 990 ₽
          p 8 990 ₽
          a.btn(href="") Купить

        .item
          img(src="./img/8_2.png", alt="")
          .h Sphero 2.0 V2
            //- br
            //- | 
          p робот-игрушка
          p
            s 9 990 ₽
          p 8 990 ₽
          a.btn(href="") Купить


        .item
          img(src="./img/8_3.png", alt="")
          .h Orbotix Sphero
            br
            | BB-8
          p робот-игрушка
          p
            s 13 990 ₽
          p 9 990 ₽
          a.btn(href="") Купить

      .flex
          img(src="./img/9.jpg", alt="")
          .item(style="margin-left: 1.4em")
            .h  Yuneec
              br 
              | Breeze 4K
            p Квадрокоптер
              

            br
            p
              s 34 990 ₽
            p 29 990 ₽
            a.btn(href="") Купить
        
      .flex.x3(style="margin-bottom: 2em")
        .item
          img(src="./img/10_1.png", alt="")
          div
            .h Michi Slim
            p портативный аккумулятор,
              br
              | темно-синий, розовый
            p
              s 9 990 ₽
            p 8 990 ₽
            a.btn(href="") Купить

        .item
          img(src="./img/10_2.png", alt="")
          div
            .h 
              br
              br
              | Sphero 2.0 V2
            p робот-игрушка
            p
              s 9 990 ₽
            p 8 990 ₽
            a.btn(href="") Купить


        .item
          img(src="./img/10_3.png", alt="")
          div
            .h Orbotix Sphero
              br
              | BB-8
            p робот-игрушка
            p
              s 13 990 ₽
            p 9 990 ₽
            a.btn(href="") Купить
    

//--- 9
//--- 10
//--- 11
//--- 12
//--- 13
//--- 14
//--- 15
//--- 16
//--- 17
//--- 18
//--- 19